<IfModule mod_rewrite.c>
  RewriteEngine On
  
  AllowOverride FileInfo
  HOSTNAME="hostname"
  SetEnv DB_NAME "test_db"
  SetEnv DB_USER "user"  
  SetEnv DB_PASSWORD password  


  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ src/public/%1 [END]


  RewriteRule (.*)  src/index.php [QSA]
</IfModule>
